/*@import "tailwindcss";*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}



header {
    background-color: #dee2e6;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: -20px;
}

    header img {
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
        border: 4px solid white;
    }

.hover-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    transform: translateY(-1px);
    transition: all 0.3s ease;
}
